#!/bin/bash
set -e

echo ""
echo "[INFO] Installing Browser Profiles..."

firefox --headless >/dev/null 2>&1 &
FIREFOX_PID=$!
sleep 2
kill $FIREFOX_PID 2>/dev/null || true
echo "  ✓ Firefox"

zen-twilight --headless >/dev/null 2>&1 &
ZEN_PID=$!
sleep 2
kill $ZEN_PID 2>/dev/null || true
echo "  ✓ Zen"

{{- if .gaming }}
zen-twilight --headless -P Dofus >/dev/null 2>&1 &
ZEN_DOFUS_PID=$!
sleep 2
kill $ZEN_DOFUS_PID 2>/dev/null || true
echo "  ✓ Zen Dofus"
{{- end }}

wait 2>/dev/null || true

SOURCE_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/zen-chezmoi/user.js"
if [ ! -f "$SOURCE_FILE" ]; then
  echo "Source file not found: $SOURCE_FILE"
  exit 0
fi

ZEN_EXTRAS=(
  "${XDG_CONFIG_HOME:-$HOME/.config}/zen-chezmoi/zen-themes.json"
  "${XDG_CONFIG_HOME:-$HOME/.config}/zen-chezmoi/zen-keyboard-shortcuts.json"
)

echo ""
echo "[INFO] Installing User.js and settings ..."
declare -A targets=(
  ["Zen"]="${HOME}/.config/zen"
  ["Firefox"]="$HOME/.config/mozilla/firefox"
)

for name in "${!targets[@]}"; do
  target="${targets[$name]}"
  if [ ! -d "$target" ]; then
    echo "[WARN]: Directory not found: $target"
    continue
  fi
  for profile_dir in "$target"/*; do
    [ ! -d "$profile_dir" ] && continue
    dir_name=$(basename "$profile_dir")
    if [[ "$dir_name" == *.Default\ Profile ]] || [[ "$dir_name" == "Profile Groups" ]] || [[ "$dir_name" == "firefox-mpris" ]] || [[ "$dir_name" == "Pending Pings" ]] || [[ "$dir_name" == "Crash Reports" ]]; then
      continue
    fi

    target_link="$profile_dir/user.js"
    [ -e "$target_link" ] || [ -L "$target_link" ] && rm -f "$target_link"
    ln -s "$SOURCE_FILE" "$target_link"
    echo "  ✓ ${name}: symlinked user.js to $(basename ${profile_dir})"

    if [[ "$name" == "Zen" ]]; then
      for extra in "${ZEN_EXTRAS[@]}"; do
        [ ! -f "$extra" ] && echo "  [WARN] Extra file not found: $extra" && continue
        extra_link="$profile_dir/$(basename $extra)"
        [ -e "$extra_link" ] || [ -L "$extra_link" ] && rm -f "$extra_link"
        ln -s "$extra" "$extra_link"
        echo "  ✓ Zen: symlinked $(basename $extra) to $(basename ${profile_dir})"
      done
    fi
  done
done
