#!/bin/bash

set -e

{{ if eq .chezmoi.hostname "quantum-desktop" }}
declare -A ssh_keys=(
  ["gitlab"]="Work:gitlab-desktop"
  ["github"]="Work:github-desktop"
)
{{ else if eq .chezmoi.hostname "quantum-laptop" }}
declare -A ssh_keys=(
  ["gitlab"]="Work:gitlab-laptop"
  ["github"]="Work:github-laptop"
)
{{ else }}
echo "Undetected hostname {{ .chezmoi.hostname }}"
exit 1
{{ end }}

mkdir -p ~/.ssh
chmod 700 ~/.ssh

export PATH="$HOME/.local/bin:$PATH"

for target in "${!ssh_keys[@]}"; do
  IFS=":" read -r vault_name item_title <<<"${ssh_keys[$target]}"
  private_key_file="$HOME/.ssh/$target"
  public_key_file="${private_key_file}.pub"
  name_space=".item.content.content.SshKey"

  pass-cli item view --vault-name $vault_name --item-title $item_title --output=json | jq -r "$name_space.private_key" >$private_key_file
  chmod 600 $private_key_file

  pass-cli item view --vault-name $vault_name --item-title $item_title --output=json | jq -r "$name_space.public_key" >$public_key_file
  chmod 644 $public_key_file
done
