{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
packages="{{ .commonPackages.linux.arch | join " " }}"

{{- if eq .profile "desktop" }}
packages="$packages {{ .desktopPackages.linux.arch | join " " }}"
{{- else if eq .profile "laptop" }}
packages="$packages {{ .laptopPackages.linux.arch | join " " }}"
{{- end }}

{{- if .devenv }}
packages="$packages {{ .devPackages.linux.arch | join " " }}"
{{- end }}

{{- if .gaming }}
packages="$packages {{ .gamingPackages.linux.arch | join " " }}"
{{- end }}

{{- if .vms }}
packages="$packages {{ .vmPackages.linux.arch | join " " }}"
{{- end }}

{{- if .llms }}
packages="$packages {{ .llmPackages.linux.arch | join " " }}"
{{- end }}

package_list=$(comm -13 \
  <(pacman -Q | awk '{print $1}' | sort) \
  <(echo "$packages" | tr ' ' '\n' | sort -u) \
  | xargs)

yay -S --needed $package_list
{{ end -}}
