{{- $profile := promptChoiceOnce . "profile" "Machine profile" (list "desktop" "laptop") -}}
{{- $primary_monitor := promptChoiceOnce . "primany monitor" "Machine primary monitor" (list "DP-1" "eDP-1") -}}
{{- $secondary_monitor := promptStringOnce . "secondary_monitor" "Secondary monitor (leave empty if none)" -}}
{{- $gaming := promptBoolOnce . "gaming" "Enable gaming" -}}
{{- $vms := promptBoolOnce . "vms" "Enable VMs (libvirt/virt-manager)" -}}
{{- $llms := promptBoolOnce . "llms" "Enable LLMs (ollama)" -}}
{{- $devenv := promptBoolOnce . "devenv" "Enable dev environment" -}}
[data]
  profile = {{ $profile | quote }}
  primary_monitor = {{ $primary_monitor | quote }}
  {{- if $secondary_monitor }}
  secondary_monitor = {{ $secondary_monitor | quote }}
  {{- end }}
  gaming = {{ $gaming }}
  vms = {{ $vms }}
  llms = {{ $llms }}
  devenv = {{ $devenv }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
[secret]
    command = "pass-cli"
