typeset -U path
path=( "$HOME/Projects/github/quantumfate/scripts/bin" $path )
path=( "$HOME/Projects/gitlab/quantumfate/security-and-privacy/bin/" $path )
path=( "$HOME/.local/bin" $path )

export ESO_USER_DIR="$HOME/Games/the-elder-scrolls-online/drive_c/users/quantum/My Documents/Elder Scrolls Online"
export ESO_LIVE_ADDONS_DIR="$ESO_USER_DIR/live/AddOns"
export ESO_LIVE_SV_DIR="$ESO_USER_DIR/live/SavedVariables"
export ESO_PTS_ADDONS_DIR="$ESO_USER_DIR/pts/AddOns"
export ESO_PTS_SV_DIR="$ESO_USER_DIR/pts/SavedVariables"
{{- if .devenv }}
path=( "$HOME/go/bin" $path )
path=( "$HOME/.local/share/nvim/mason/bin" $path )
path=( "$HOME/.luarocks/bin" $path )
path=( "$HOME/.cargo/bin" $path )
{{- end }}
