[
  {
    "fixed-center": true,
    "height": 25,
    "include": "/home/quantum/.config/waybar/modules",
    "ipc": true,
    "layer": "top",
    "margin-left": 0,
    "margin-right": 0,
    "margin-top": 0,
{{- if eq .chezmoi.hostname "quantum-desktop" }}
    "modules-center": [
      "hyprland/window"
    ],
    "modules-left": [
      "hyprland/workspaces",
      "cpu",
      "memory",
      "disk",
      "network"
    ],
    "modules-right": [
      "pulseaudio",
      "clock",
      "tray",
      "custom/mako",
      "custom/wlogout"
    ],
{{- else if eq .chezmoi.hostname "quantum-laptop" }}
    "modules-center": [
      "hyprland/window"
    ],
    "modules-left": [
      "hyprland/workspaces",
      "cpu",
      "memory",
      "disk",
      "network"
    ],
    "modules-right": [
      "pulseaudio",
      "clock",
      "tray",
      "custom/mako",
      "battery",
      "custom/wlogout"
    ],
{{- else }}
    "modules-center": [
      "hyprland/window"
    ],
    "modules-left": [
      "hyprland/workspaces",
      "cpu",
      "memory",
      "disk",
      "network"
    ],
    "modules-right": [
      "pulseaudio",
      "clock",
      "tray",
      "custom/mako",
      "custom/lock",
      "custom/wlogout"
    ],
{{- end}}
{{- if eq .chezmoi.hostname "quantum-desktop" }}
    "output": [
      "DP-1"
    ],
{{- else if eq .chezmoi.hostname "quantum-laptop" }}
    "output": [
      "eDP-1"
    ],
{{- else }}
{{- end}}
    "position": "top",
    "spacing": 0
  }
]
