[
  {
    "fixed-center": true,
    "height": 30,
    "include": "/home/quantum/.config/waybar/modules",
    "ipc": true,
    "layer": "top",
    "margin-left": 0,
    "margin-right": 0,
    "output": "{{ .primary_monitor }}",
    "margin-top": 0,
    "modules-center": [
      "hyprland/window",
      "hyprland/submap"
    ],
    "modules-left": [
      "hyprland/workspaces",
      "cpu",
      "memory",
      "disk",
      "network"
    ],
    "modules-right": [
      "custom/brightness",
      "pulseaudio",
      "clock",
      "tray",
      "custom/mako",
{{- if eq .profile "laptop" }}
      "battery",
{{- end }}
      "custom/wlogout"
    ],
    "position": "top",
    "spacing": 0
  }
]
