/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #532f7d !important;
  --toolbarbutton-icon-fill: #c6a0f6 !important;
  --toolbar-field-color: #cad3f5 !important;
  --tab-selected-textcolor: #c6a0f6 !important;
  --toolbar-color: #cad3f5 !important;
  --arrowpanel-color: #cad3f5 !important;
  --arrowpanel-background: #24273a !important;
  --sidebar-text-color: #cad3f5 !important;
  --zen-main-browser-background: #24273a !important;
}

.sidebar-placesTree {
  background-color: #24273a !important;
}

#zen-workspaces-button {
  background-color: #24273a !important;
}

#TabsToolbar {
  background-color: #24273a !important;
}

.urlbar-background {
  background-color: #24273a !important;
}

.urlbar-input::selection {
  color: #24273a !important;
  background-color: #c6a0f6 !important;
}

.urlbarView-url {
  color: #a5adcb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c6a0f6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d4b3ff !important;
  --identity-icon-color: #d4b3ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c6a0f6 !important;
  --identity-icon-color: #c6a0f6 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb9 !important;
  --identity-icon-color: #a5ffb9 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe8a5 !important;
  --identity-icon-color: #ffe8a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffdb72 !important;
  --identity-icon-color: #ffdb72 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb1 !important;
  --identity-icon-color: #ff9fb1 !important;
}

.identity-color-pink {
  --identity-tab-color: #dcc0ff !important;
  --identity-icon-color: #dcc0ff !important;
}

.identity-color-purple {
  --identity-tab-color: #492871 !important;
  --identity-icon-color: #492871 !important;
}

#zen-appcontent-navbar-container {
  background-color: #24273a !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c6a0f6 !important;
  color: #c6a0f6 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c6a0f6 !important;
  color: #c6a0f6 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c6a0f6 !important;
}
