source=~/.config/hypr-chezmoi/monitor.conf
source=~/.config/hypr-chezmoi/workspaces.conf
{{- if .gaming }}
source=~/.local/share/own-scripts/gitlab/quantumfate/dofus-scripts/dofus-binds.conf
source=~/.config/hypr-chezmoi/gaming.conf
{{- end }}
