{{- if eq .chezmoi.hostname "quantum-desktop" -}}
workspace=1,monitor:DP-1, default:true
workspace=2,monitor:DP-1
workspace=3,monitor:DP-1
workspace=4,monitor:DP-1
workspace=name:a_obsidian, monitor:DP-1, persistent:true
workspace=name:b_mail, monitor:DP-1, persistent:true
workspace=6,monitor:HDMI-A-1

workspace=s[true]m[DP-1]n[e:feh], name:feh
workspace=s[true]m[DP-1]n[e:gaming], name:gaming, on-created-empty:steam
workspace=s[true]m[DP-1]n[e:dofus], name:dofus, on-created-empty:hyprctl --batch "dispatch exec zen-twilight -P Dofus"
workspace=s[true]m[DP-1]n[e:vesktop], name:vesktop, on-created-empty:vesktop
workspace=s[true]m[DP-1]n[e:spotify], name:spotiy, on-created-empty:spotify
{{- else if eq .chezmoi.hostname "quantum-laptop" -}}
workspace=1,monitor:eDP-1, default:true
workspace=2,monitor:eDP-1
workspace=3,monitor:eDP-1
workspace=4,monitor:eDP-1
workspace=name:a_obsidian ,monitor:DP-1, persistent:true
workspace=name:b_mail ,monitor:DP-1, persistent:true
workspace=6,monitor:HDMI-A-1

workspace=s[true]m[eDP-1]n[e:feh], name:feh
workspace=s[true]m[eDP-1]n[e:vesktop], name:vesktop, on-created-empty:vesktop
workspace=s[true]m[eDP-1]n[e:spotify], name:spotiy, on-created-empty:spotify
{{- else -}}
workspace=1,monitor:DP-1, default:true
workspace=2,monitor:DP-1
workspace=3,monitor:DP-1
workspace=4,monitor:DP-1
workspace=name:a_obsidian ,monitor:DP-1, persistent:true
workspace=name:b_mail ,monitor:DP-1, persistent:true
workspace=6,monitor:HDMI-A-1

workspace=s[true]m[DP-1]n[e:feh], name:feh
workspace=s[true]m[DP-1]n[e:vesktop], name:vesktop, on-created-empty:vesktop
workspace=s[true]m[DP-1]n[e:spotify], name:spotiy, on-created-empty:spotify
{{- end }}
