workspace=1, monitor:{{ .primary_monitor }}, persistent:true, default:true
workspace=2, monitor:{{ .primary_monitor }}, persistent:true
workspace=3, monitor:{{ .primary_monitor }}, persistent:true
workspace=4, monitor:{{ .primary_monitor }}, persistent:true
workspace=5, monitor:{{ .primary_monitor }}, persistent:true, gapsin:0, gapsout:0, bordersize:0
workspace=6, monitor:{{ if and (hasKey . "secondary_monitor") .secondary_monitor }}{{ .secondary_monitor }}{{ else }}{{ .primary_monitor }}{{ end }}, persistent:true, orientation:right
workspace=7, monitor:{{ if and (hasKey . "secondary_monitor") .secondary_monitor }}{{ .secondary_monitor }}{{ else }}{{ .primary_monitor }}{{ end }}, persistent:true, orientation:right
workspace=8, monitor:{{ if and (hasKey . "secondary_monitor") .secondary_monitor }}{{ .secondary_monitor }}{{ else }}{{ .primary_monitor }}{{ end }}, persistent:true, orientation:right
workspace=9, monitor:{{ if and (hasKey . "secondary_monitor") .secondary_monitor }}{{ .secondary_monitor }}{{ else }}{{ .primary_monitor }}{{ end }}, persistent:true, orientation:right
workspace=10, monitor:{{ if and (hasKey . "secondary_monitor") .secondary_monitor }}{{ .secondary_monitor }}{{ else }}{{ .primary_monitor }}{{ end }}, persistent:true, orientation:right
